<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.supervise.mapper.DeviceImageMapper">
	<insert id="add" parameterType="com.bjxc.model.DeviceImage" useGeneratedKeys="true" keyProperty="id">
		insert into tdeviceimage(deviceId,imageNum,objectId,uploadType,channelNo,imageWidth,imageHeight,event,lessonId,locationId,faceProbability,imageUrl,isUpload,packageNum,dataSize,createtime,trainingRecordId,photoId,minRecordId) 
		values(#{deviceId},#{imageNum},#{objectId},#{uploadType},#{channelNo},#{imageWidth},#{imageHeight},#{event},#{lessonId},#{locationId},#{faceProbability},#{imageUrl},#{isUpload},#{packageNum},#{dataSize},#{createtime},#{trainingRecordId},#{photoId},#{minRecordId})
	</insert>
</mapper>