<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.supervise.mapper.TrainingLogMapper">
	<insert id="add" parameterType="com.bjxc.model.TrainingLog" useGeneratedKeys="true" keyProperty="id">
		insert into traininglog(recordnum,uploadtype,studentnum,coachnum,courseid,recordtime,course,status,maxspeed,mileage,inspass,propass,locationinfoid,trainingrecordid)
		 values(#{recordnum},#{uploadtype},#{studentnum},#{coachnum},#{courseid},#{recordtime},#{course},#{status},#{maxspeed},#{mileage},#{inspass},#{propass},#{locationinfoid},#{trainingrecordid})
	</insert>
</mapper>