<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.supervise.mapper.TrainingRecordMapper">
	<insert id="add" parameterType="com.bjxc.model.TrainingRecord" useGeneratedKeys="true" keyProperty="id">
		insert into trainingrecord(studentId,coachId,courseCode,trainingcarId,deviceId,startTime,endTime,courseType,subjectId,etrainingLogCode,pass,reason,loginPhotoId,logoutPhotoId,mileage,avevelocity) 
		values(#{studentId},#{coachId},#{courseCode},#{trainingcarId},#{deviceId},#{startTime},#{endTime},#{courseType},#{subjectId},#{etrainingLogCode},#{pass},#{reason},#{loginPhotoId},#{logoutPhotoId},#{mileage},#{avevelocity})
	</insert>
</mapper>